---
// Pagefind search overlay. /javascripts/pagefind-init.js instantiates
// PagefindUI inside #pagefind-search.
---
<div class="modal" id="pagefind-overlay" data-pagefind-ignore>
  <div class="modal__panel modal__panel--wide">
    <button class="modal__close" id="pagefind-close" type="button" aria-label="Close">×</button>
    <div id="pagefind-search"></div>
  </div>
</div>
